# dependencies
node_modules/
.pnp
.pnp.*

# Next.js & build outputs
.next/
out/
build/
dist/

# testing & coverage
coverage/

# environment variables & secrets
.env
.env.*
!.env.example
!.env*.example
.env.local
google-services.json
**/google-services.json

# debug & logs
*.log
npm-debug.log*
yarn-debug.log*

# system & OS
.DS_Store
Thumbs.db

# typescript & vercel
*.tsbuildinfo
next-env.d.ts
.vercel
